.footer-container {
  height: 160px;
  background-color: $black-2;
  padding-left: 12px;
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.icon-social {
  font-size: 38px;
  color: $blue-3;
  margin-right: 20px;
}