/* colors */

/* BLUE */
$blue-1 : #122971;
$blue-2 : #177abe;
$blue-3 : #00ffff;

/* GREEN */
$green-1 : #97ce4c;

/* BLACK */
$black-1 : #000000;
$black-2 : #3c3c3c;
$black-3 : #4d4d4d;

/* YELLOW */

$yellow-1 : #FFF874 ;

/* PINK */
$pink-1 : #F675DA;

/* CYAN */
$cyan-1 : #01BAC6

